{% extends "base.html" %}
{% block content %}
        <section class="section">
            <div class="section-header">
                <h1>Dashboard</h1>
            </div>
            <div class="section-body">
                <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>Total Resep</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <h5>
                                        {{resep_count}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>Total Bahan</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <h5>
                                        {{bahan_count}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>Total Roti</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <h5>
                                        {{barang_jadi_count}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
{% endblock content %}