{% extends "base.html" %}
{% block content %}
        <section class="section">
            <div class="section-header">
                <h1>Daftar Bahan Baku</h1>
            </div>
            <div class="section-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Table 1</h5>
                            </div>
                            <div class="card-body">
                                <ul>
                                    {% for bahan in bahans %}
                                        <li>{{ bahan.nama }} - Harga: {{ bahan.harga_per_unit }} - Stok: {{ bahan.stok }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
