{% extends "base.html" %}
{% block content %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#bahans').change(function() {
                var selectedBahans = $(this).val();
                $('.jumlah-bahan').remove(); // Menghapus input jumlah bahan sebelumnya
                
                // Menambahkan input jumlah bahan untuk setiap bahan yang dipilih
                selectedBahans.forEach(function(bahanId) {
                    var namaBahan = $('#bahans option[value="' + bahanId + '"]').text();
                    var inputJumlah = '<div class="form-group jumlah-bahan">' +
                                        '<label for="bahans_jumlah_' + bahanId + '">Jumlah ' + namaBahan + ':</label>' +
                                        '<input class="form-control" name="bahans_jumlah_' + bahanId + '" type="number">' +
                                    '</div>';
                    $('#jumlah-bahan-container').append(inputJumlah);
                });
            });
        });
        </script>

        <section class="section">
            <div class="section-header">
                <h1>Tambah Roti Baru</h1>
            </div>
            <div class="section-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">

                                    <form method="post" >
                                        {% csrf_token %}
                                        Nama:
                                        <input class="form-control" name = "nama" type="text">
                                        
                                        <br>
                                        Kode Barang:
                                        <input class="form-control" name = "kode_barang" type="text">
                                        
                                        <br>
                                        Harga Jual:
                                        <input class="form-control" name = "harga_jual" type="number">
                                        
                                        <br>
                                        <label for="bahans">Bahan yang Digunakan:</label>
                                        <select name="bahans" id="bahans" class="form-control" multiple>
                                            {% for bahan in bahans %}
                                                <option value="{{ bahan.id }}">{{ bahan.nama }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                        <br>
                                        <div id="jumlah-bahan-container"></div>
                                        
                                        <button type="submit">Simpan</button>
                                    </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}