{% extends "base.html" %}
{% block content %}
        <section class="section">
            <div class="section-header">
                <h1>Daftar Penjualan Roti</h1>
            </div>
            <div class="section-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Table 1</h5>
                            </div>
                            <div class="card-body">
                                <ul>
                                    {% for penjualan in penjualan %}
                                        <li>{{ penjualan.roti.nama }} - {{ penjualan.jumlah }} - {{ penjualan.harga_jual }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
