<!-- base -->

{% extends "base.html" %}

{% block content %}
    <h1>Detail</h1>
    {% comment %} nama = models.CharField(max_length=100)
    alamat_penerima = models.TextField()
    no_hp = models.CharField(max_length=100)

    pembayaran_dp = models.IntegerField(default=0)
    pembayaran_sisa = models.IntegerField(default=0)
    total_harga = models.IntegerField(default=0)

    status = models.CharField(max_length=100, choices=STATUS_CHOICES, default='draft')
    pembayaran = models.CharField(max_length=100, choices=PEMBAYARAN_CHOICES, default='belum bayar')

    # tanggal pengantaran
    tanggal_pengantaran = models.DateField(blank=True, null=True)

    barang_pesanan = models.ManyToManyField(BarangPesanan, related_name='pesanan', blank=True, null=True)

    creator = models.ForeignKey(User, on_delete=models.CASCADE, related_name='pesanan_creator', blank=True, null=True)
    update_terakhir_oleh = models.ForeignKey(User, on_delete=models.CASCADE, related_name='pesanan_update_terakhir_oleh', blank=True, null=True) {% endcomment %}
    <h1>{{ pesanan.nama }}</h1>
    <p><b>Alamat Penerima : </b> {{ pesanan.alamat_penerima }}</p>
    <p><b>No HP : </b>{{ pesanan.no_hp }}</p>
    <p><b>Pembayaran DP : </b>{{ pesanan.pembayaran_dp }}</p>
    <p><b>Pembayaran Sisa : </b>{{ pesanan.pembayaran_sisa }}</p>
    <p><b>Total Harga : </b>{{ pesanan.total_harga }}</p>
    <p><b>Status : </b>{{ pesanan.status }}</p>
    <p><b>Pembayaran : </b>{{ pesanan.pembayaran }}</p>
    <p><b>Tanggal Pengantaran : </b>{{ pesanan.tanggal_pengantaran }}</p>
    <p><b>Creator : </b>{{ pesanan.creator }}</p>
    <p><b>Update Terakhir : </b>{{ pesanan.update_terakhir_oleh }}</p>
    <p><b>Barang pesanan : </b>{{ pesanan.barang_pesanan }}</p>
    
{% endblock %}
