{% extends "base.html" %}
{% block content %}
<div class="container">
    <section class="section">
        <div class="section-header">
            <h1>Tambah Bahan Baku Baru</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Table 1</h5>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                            <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
