{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="section-header">
        <h1>Detail Bahan</h1>
    </div>
        <div class="section-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
                        </div>
                        <div class="card-header">
                            <h5>{{barang_jadi.nama}}</h5>
                        </div>
                        <div class="card-body">
                            
                            <p><strong>Kode Barang:</strong> {{barang_jadi.kode_barang}}</p>
                            <p><strong>Harga Jual:</strong> Rp.{{barang_jadi.harga_jual}}</p>
                            <p><strong>HPP:</strong> Rp.{{barang_jadi.hpp}}</p>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
