{% extends "base.html" %}
{% block content %}
<div>
    <script>
        function get_data_bahan(id) {
            var url = 'http://0.0.0.0:8001/resep/cek_bahan/' + id + '/';
            // Using fetch to get data
            return fetch(url)
                .then(function(response) {
                    // Parse response as JSON
                    return response.json();
                })
                .then(function(bahan) {
                    // Ensure bahan object has correct structure
                    let satuan = "gram";
                    let harga_persatuan = bahan['harga_gram'];
                    // Return an object containing relevant data
                    return {
                        nama_bahan: bahan.nama_bahan,
                        kode_bahan: bahan.kode_bahan,
                        satuan: satuan,
                        harga_persatuan: harga_persatuan
                    };
                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        }

        function remove_bahan(id) {
            document.getElementById("data_bahan"+id).remove();
        }
        
        function add_bahan() {
            var e = document.getElementById("bahans");
            var value = e.value;
            var nama_bahan = e.options[e.selectedIndex].text;
            var kode_bahan = e.options[e.selectedIndex].getAttribute('data-kode');
        
            // Call get_data_bahan and handle the returned Promise
            get_data_bahan(value)
                .then(function(bahanData) {
                    var html =
                        "<div class='card' id='data_bahan"+value+"'>" +
                        "<div class='card-body'>" +
                        "Nama:<b>" + bahanData.nama_bahan + "</b>" +
                        "<br>" +
                        "Kode Barang: <b>" + bahanData.kode_bahan + "</b>" +
                        "<br>" +
                        "Satuan: <b>" + bahanData.satuan + "</b>" +
                        "<br>" +
                        "Harga perSatuan: <b>" + bahanData.harga_persatuan + "</b>" +
                        "<br>" +
                        "Harga Jual:" + // You need to calculate this value
                        "<br>" +
                        "Jumlah Satuan Pakai:" +
                        "<input class='form-control' name='jumlah_satuan[]' type='number' placeholder='Masukkan Jumlah Satuan Pakai'>" +
                        "<input class='form-control' name='id_bahan[]' type='number' value='" + value + "'>" +
                        "<br>" +
                        "<div id='jumlah-bahan-container-" + value + "'></div>" +
                        "<div class='btn btn-danger hapus-bahan' id='hapus-bahan-" + value + "' onclick='remove_bahan(" + value + ")'>Hapus Bahan</div>" +
                        "</div>" +
                        "</div>";
                    // Append the HTML to the specified element
                    document.getElementById("data_card").insertAdjacentHTML('beforeend', html);
                });
        }
        
        
    </script>

    <section class="section">
        <div class="section-header">
            <h1>Tambah Roti Baru</h1>
        </div>

        <div class="section-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            Daftar Bahan:
                            <select name="bahans" id="bahans" class="form-control">
                                {% for bahan in bahans %}
                                <option value="{{ bahan.id }}" data-kode="{{ bahan.kode_bahan }}"> {{ bahan.nama }}</option>
                                {% endfor %}
                            </select>
                            </select>
                            <button onclick="add_bahan()">Tambah Bahan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                <form method="post" action="{% url 'resep_create' %}">
                    {% csrf_token %}
                    <div id="data_card">
                            <button class='btn btn-warning' type="submit">Simpan</button>
                            <br>
                            Nama: <input class="form-control" name="nama_roti" type="text" placeholder='Masukan Nama Roti'>
                            <br>
                            Kode Resep: <input class="form-control" name="kode_barang" type="text" placeholder='Masukan kode barang'>
                            <br>
                    </div>
                    </div>
                </form>
    
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
