{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="section-header">
            <h1>Daftar Roti</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>{{barang_jadi.nama}}</h5>
                        </div>
                        <div class="card-body">
                            Master Bahan
                            <ul>
                                {% for item in reseps %}
                                    <li>nama resep: {{ item.master_bahan.nama }}</li>
                                    {% comment %} <li>kode barang resep: {{ item.master_bahan.kode_barang }}</li> {% endcomment %}
                                    {% comment %} <li>Daftar Bahan:
                                        <ul>
                                            {% for bahan in item.resep.all %}
                                                <li>{{ bahan.nama }} - {{ bahan.kode_bahan }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li> {% endcomment %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
