{% extends "base.html" %}
{% block content %}

    <section class="section">
        <div class="section-header">
            <h1>Daftar barang Baku</h1>
        </div>
        <div class="section-body">
           
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>nama</th>
                                        <th>kode_barang</th>
                                        <th>harga_jual</th>
                                        <th>hpp</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for barang in barang_jadis %}
                                    <tr>
                                        <td><a href="{% url 'resep_detail' pk=barang.pk %}">{{ barang.nama }}</a></td>
                                        <td>{{ barang.kode_barang }}</td>
                                        <td>{{ barang.harga_jual }}</td>
                                        <td>Rp.{{ barang.hpp }}</td>
                                        <td>
                                            <a href="{% url 'resep_delete' pk=barang.pk %}" class="btn btn-sm btn-danger mr-2">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </section>

{% endblock content %}
