{% extends "base.html" %}
{% block content %}
<div>
    <script>
        function add_bahan() {
            var e = document.getElementById("bahans");
            var value = e.value;
            var nama_bahan = e.options[e.selectedIndex].text;
            var kode_bahan = e.options[e.selectedIndex].getAttribute('data-kode');
        
            var html =
                "<div class='card'>" +
                    "<div class='card-body'>" +
                        "Nama:<b>" + nama_bahan + "</b>" +
                        "<br>" +
                        "Kode Barang: <b>" + kode_bahan + "</b>" +
                        "<br>" +
                        "Harga Jual:" + //Bagaimana cara hitungnya?
                        "<br>" +
                        "Jumlah Satuan Pakai:" +
                        "<input class='form-control' name='jumlah_satuan[]' type='number' placeholder='Masukkan Jumlah Satuan Pakai'>" +
                        "<input class='form-control' name='id_bahan[]' type='number' value='" + value + "'>" +
                        "<br>" +
                        "<div id='jumlah-bahan-container-" + value + "'></div>" +
                        "<button class='btn btn-danger hapus-bahan'>Hapus Bahan</button>" +
                    "</div>" +
                "</div>";
            console.log(html)
            // Tambahkan elemen baru setelah elemen terakhir dengan insertAdjacentHTML
            document.getElementById("data_card").insertAdjacentHTML('beforeend', html);
        
        }
        
    </script>

    <section class="section">
        <div class="section-header">
            <h1>Tambah Roti Baru</h1>
        </div>

        <div class="section-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            Daftar Bahan:
                            <select name="bahans" id="bahans" class="form-control">
                                {% for bahan in bahans %}
                                <option value="{{ bahan.id }}" data-kode="{{ bahan.kode_bahan }}"> {{ bahan.nama }}</option>
                                {% endfor %}
                            </select>
                            </select>
                            <button onclick="add_bahan()">Tambah Bahan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                <form method="post" action="{% url 'resep_create' %}">
                    {% csrf_token %}
                    <div id="data_card">
                            <button class='btn btn-warning' type="submit">Simpan</button>
                            <br>
                            Nama: <input class="form-control" name="nama_roti" type="text" placeholder='Masukan Nama Roti'>
                            <br>
                            Kode Resep: <input class="form-control" name="kode_barang" type="text" placeholder='Masukan kode barang'>
                            <br>
                    </div>
                    </div>
                </form>
    
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
