{% extends "base.html" %}
{% block content %}

    <section class="section">
        <div class="section-header">
            <h1>List Bahan Baku</h1>
        </div>
        <div class="section-body">
           
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="tableBahan" class="display nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Nama Bahan</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bahan in bahans %}
                                    <tr>
                                        <td>{{ bahan.nama }}</td>
                                        <td>
                                            <a href="{% url 'bahan_update' pk=bahan.pk %}" class="btn btn-sm btn-primary mr-2">Update</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'bahan_delete' pk=bahan.pk %}" class="btn btn-sm btn-danger">Delete</a>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </section>

{% endblock content %}


{% block script %}
<script>
    $(document).ready(function () {
        console.log("added");
        $('#tableBahan').DataTable({
            responsive: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            }
        });
    });
</script>
{% endblock script %}