{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Catat Toko</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"> -->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.dataTables.css" />
  
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  
</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      {% include 'includes/header.html' %}
      {% include 'includes/sidebar.html' %}
      <div class="main-content">
        {% block content %}

        {% endblock content %}
      </div>
      {% include 'includes/footer.html' %}
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/rowreorder/1.5.0/js/dataTables.rowReorder.js"></script>
  <script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js"></script>
  <script src="https://cdn.datatables.net/responsive/3.0.2/js/responsive.dataTables.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> {% endcomment %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="{% static 'assets/js/stisla.js' %}"></script>

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

  <!-- Page Specific JS File -->
  <!-- <script src="{% static 'assets/js/page/index-0.js' %}"></script> -->
  <!-- <script src="{% static 'assets/js/page/bootstrap.modal.js' %}"></script> -->
  <!-- <script src="{% static 'assets/js/jquery.js' %}"></script> -->
  <!-- <script src="{% static 'assets/js/bootstrap.min.js' %}"></script> -->
  <script>
    {% comment %} id_qty_keseluruhan {% endcomment %}
    {% comment %} id_harga {% endcomment %}
    $( document ).ready(function() {
        console.log( "ready!" );
        function cek_harga_perkeseluruhan(){
        
            let get_value_id_harga = $("id_harga").value()
            let get_value_id_qty_keseluruhan = $("id_qty_keseluruhan").value()

            console.log("get_value_id_harga",get_value_id_harga)
        }
    });
    

    function convertToTitikFormat(value) {
        value = Number(value)
        // Your logic to convert the value to the desired format
        // For example, converting to a comma-separated format
        let [integerPart, decimalPart] = value.toFixed(2).toString().split('.');

        // Insert dots (.) as thousand separators for the integer part
        integerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, '.');

        // Join the integer and decimal parts with comma (,) as the decimal separator
        return integerPart + ',' + decimalPart;
    }

    function cek_rupiah(this_el){
      let harga = parseFloat($(this_el).val());
      let data_nama_bantuan = $(this_el).data("nama-bantuan");
      console.log(harga);
      if(!isNaN(harga)){
          //harga to stringformat
          harga = convertToTitikFormat(harga.toString());
          $("#" + data_nama_bantuan).text("Rp. " + harga);
      } else {
          $("#" + data_nama_bantuan).text("");
      }
    }

    $(".bantuan-rupiah").on("keyup", function(){
      cek_rupiah(this)
    });

    // fetch .bantuan-rupiah
    $(".bantuan-rupiah").each(function(){
      cek_rupiah(this)
    });
    

  </script>
  {% block script %}{% endblock script %}
</body>

</html>